{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

<!-- Styles block -->
{% block styles %}

{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/profile.css')}}">

{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <!-- displaying  Username-->
    <div class="col-md-6 myprofile">

      <h1>My Profile</h1>

<!-- Displaying profile pic -->
      {% if user.profile_pic_path %}
      
      <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail imgsize">
      {%else%}
      <div class="noprof_space">No profile picture</div>
      {% endif %}


<!-- Display user name and bio -->
        <div class="userdetails">
          <h3 class="p_space"> {{user.username| capitalize}} </h3>

          {% if user.bio %}
          <p class="mybio"> {{user.bio}}</p>
          {%else%}
          <p> {{user.username| capitalize}} has no bio </p>
          {% endif %}
       </div>

<!-- Display form -->
          <div class="updateform">
            {{wtf.quick_form(form)}}
          </div>
          
        </div>


    <!-- Display pitch section -->
    <div class="col-md-6">
      <div class="vl"></div>
      <h1 class="pitchtitle">My Pitches</h1>
      <div class="pitchspace">

        <p>Place pitches here</p>
        <a class="ratings" href='/user/<uname>/pitch'> Post a Pitch</a>
      </div>

    </div>
  </div>
</div>
{% endblock %}