
.p_space{
    margin-left: 45px;
}
.mybio{
    margin-left: 25px;
}
.noprof_space{
    margin-left: 25px;
    margin-top: 30px;
    display: inline-block;
}
.beside{
    margin-left: 20px;
}
.pitchspace{
    margin-left: 50px;
}
.imgsize{
   border-radius: 3%;
   width: 200px;
   height: 200px;
   display: inline-block;
}
.profdetails{
    display: inline-block;
}
.inputwidth{
    width: 70%;
    margin-top: 20px;
    margin-bottom: 10px;
}
textarea.form-control {
    width: 70%;
}
.userdetails{
    margin-left: 20px;
    display: inline-block;
}
label{
    margin-top: 20px;
}
.buttonpost{
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    padding: 7px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 190px;
    margin-bottom: 20px;
} 
.buttonpost:hover {
    background-color: #008CBA;
    color: white;
  }
.title{
    display: inline-block;
}