
.p_space{
    margin-left: 45px;
}
.mybio{
    margin-left: 25px;
}
.noprof_space{
    margin-left: 25px;
    margin-top: 30px;
    display: inline-block;
}
.beside{
    margin-left: 20px;
}
.vl{
    border-left: 2px solid rgb(19, 165, 218);
    height: 500px;
}
.pitchtitle{
    margin-top: -480px;
    margin-left: 140px;
}
.pitchspace{
    margin-left: 50px;
}
.imgsize{
   border-radius: 3%;
   width: 200px;
   height: 200px;
   display: inline-block;
}
.profdetails{
    display: inline-block;
}
.inputwidth{
    width: 70%;
    margin-top: 20px;
    margin-bottom: 10px;
}
textarea.form-control {
    width: 70%;
}
.userdetails{
    display: inline-block;
}
label{
    margin-top: 20px;
}